.main {
    height: calc(100vh - 120px);
    background: url('../assets/img/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .7s;
}
button.controller {
    width: 100px;
    height: 100px;
    border: none;
    opacity: .5;
    transition: opacity 0.5s;
    cursor: pointer;
}

button.play {
    background: url('../assets/svg/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

button.pause {
    background: url('../assets/svg/pause.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.controller:hover {
    opacity: .7;
}